<p>Hi <%= @executor.profile.first_name %>,</p>

<p><%= @assigner.profile.full_name %> just sent you a new task/favor.</p>

<p>You can check it out <%= link_to "here", user_url(@assigner) %>.</p>

<p>Cheers,<br />Faskyn Team</p>
