<p>Hi <%= @task.executor.profile.first_name %>,</p>

<p><%= @task.assigner.profile.first_name %> <%= @task.assigner.profile.last_name %> just sent you a new task/favor.</p>

<p>You can check it out <%= link_to "here", user_url(@task.assigner_id) %>.</p>

<p>Cheers,<br />Faskyn Team</p>
