<p>Hi <%= @task.executor.profile.first_name%>,</p>

<p><%= @current_user.profile.first_name %> <%= @current_user.profile.last_name %> just sent you a new task/favor.</p>

<p>You can check it out <%= link_to "here", user_task_url(@task.executor_id, @task.id) %>.</p>

<p>Cheers,<br />Faskyn Team</p>
