<% provide(:title, "About") %>

<div id="mission">
  <div class="jumbotron">
    <div class="container">
      <h1>Our Mission</h1>
      <h3>We want to make second tier communication simple and fast.</h3>
    </div>
  </div>
</div>

<div id="about">
  <div class="container">
    <h1>About us</h1>
    <p> As we see there are many amazing apps out there that make team communication way easier and faster. But when it comes to the communication with second tier acquintances like lawyer, VC or accountant, people are still tend to use email which can be pretty slow and painful. We want to change this status quo and make second tier communication just as fast and quick as team communication. To reach this we work hard at the moment to get our product into your hands.</p>
  </div>
</div>
<%= render 'footer'%>
