<% provide(:title, "About") %>
<div class="container-fluid">
  <div id="mission">
    <div class="jumbotron">
      <div class="container">
        <h1>Our Mission</h1>
        <h3>We want to make second tier communication simple, fast and less formal.</h3>
      </div>
    </div>
  </div>
  <div id="about">
    <div class="container">
      <h1>About us</h1>
      <p>We’re making external collaboration between startups, investors and corporations less formal and targeted by focusing on getting things done the fastest possible way. Users can share tasks, exchange documents, schedule meetings and start quick chats without publicly sharing contact information. Actions can be targeted to a specific user or to a group of users by category of interest, industry, location, stage etc. Our goal is to be the place where startups come for feedback, advice, customers and funding. Later we can become a new type of forum where people can collaborate with everyone sharing the same passion.</p>
    </div>
  </div>
  <%= render 'footer'%>
</div>

