<div class="panel panel-default" id="comment-panel">
  <div class="panel-heading">
    <div class = "row comment-form-row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12">

              <%= render partial: 'comments/form', locals: { commentable: commentable } %>

            </div>
          </div>
        </div>
      </div>
    </div>

    <% if comments.size > 3 %>
      <div class="row open-all-comments-row" data-behavior="open-all-comments-row">
        <div class="col-md-12">
          <div class="col-md-12">
            <a class="open-all-comments" data-commentableid="<%= commentable.id %>" data-behavior="open-all-comments">Show all</a>
          </div>
        </div>
      </div>
    <% end %>

  </div>
  <div class="panel-body">
    <div class = "row">
      <div class="col-md-12" data-behavior="comment-insert-<%= commentable.id%>">
        <% cache ['comments-index-#{ comment.commentable_type.downcase }', comments.map(&:id), comments.map(&:updated_at).max, comments.map{ |comment| comment.user.profile.updated_at }.max] do %>

          <%= render partial: "comments/comment", collection: comments %>

        <% end %>
      </div>
    </div>
  </div>
</div>