<table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-md-9">Files</th>
      <th class="col-md-3">Sent at</th>
    </tr>
  </thead>
  <tbody class="filebody">
    <%= render partial: "common_medias/message_file_body" %>
  </tbody>
</table>
<div id="infinite-common-file-scrolling">
  <%= will_paginate @common_files, param_name: 'files', params: { scrolling: 'filescroll'} %>
</div>