<table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-md-9">Links</th>
      <th class="col-md-3">Sent at</th>
    </tr>
  </thead>
  <tbody class="linkbody">
    <%= render partial: "common_medias/message_link_body" %>
  </tbody>
</table>
<div id="infinite-common-link-scrolling">
  <%= will_paginate @message_links_pre, param_name: 'links', :params => {:controller => 'common_medias', :action => 'get_links', :scrolling => 'linkscroll'} %>
</div>
