<div class= "container task-container">
  <div class="row task-header">
    <h2>Incoming Task List<%= link_to "Completed tasks", completed_tasks_user_tasks_path(current_user), class: "btn btn-primary" %> <%= link_to "Outgoing Tasks", outgoing_tasks_user_tasks_path(current_user), class: "btn btn-primary" %></h2>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-3">Name / Company</th>
        <th class="col-md-5">Content</th>
        <th class="col-md-2">Deadline</th>
        <th class="col-md-2">Comp. / Edit / Del.</th>
      </tr>
    </thead>
    <tbody>
      <%= render @executed_tasks %>
    </tbody>
  </table>
  <%= will_paginate @executed_tasks %> 
</div>