<div class= "container-fluid task-container">
  <div class="row task-header">
    <h3>Chat notifications</h3>
  </div>
  <div class="chat-notifications-index">
    <% @conversations.each do |conversation| %>
      <% if conversation.recipient == current_user %>
        <p>You got a new message from <%= conversation.sender.profile.first_name %></p>
      <% else %>
        <p>You got a new message from <%= conversation.recipient.profile.first_name %></p>
      <% end %>
    <% end %>
  </div>
</div>
