<div class="container-fluid" style="padding-right:0px;padding-left:0px">
  <div class = "col-md-9" style="padding-left:20px;padding-right:20px">
    <%= render "fileindex" %>
  </div>
  <div class = "col-md-3 rightsidebar">
    <%= render 'layouts/rightsidebar' %>
  </div>
</div>