<div class="row">
  <div class="col-md-10">
    <div class="col-md-12">
      <div class="post-comment-reply-input">
        <%= form_for([post_comment, @post_comment_reply], remote: true, html: { id: "post-comment-reply-form-#{post_comment.id}" }) do |f| %>
          <div class="form-group">
            <%= f.text_field :body, class: "form-control input-sm", id:"post-comment-reply-text-area-#{post_comment.id}", placeholder: "Reply..", data: { pcid: post_comment.id, behavior: "post-comment-reply-text-area" } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>