<div class="row post-comment-reply-form-box">
  <div class="col-md-10">
    <div class="col-md-12">
      <div class="post-comment-reply-input" style="margin-top:10px;">
        <%= form_for([post_comment, @post_comment_reply], remote: true, html: { id: "post-comment-reply-form-#{post_comment.id}" }) do |f| %>
          <div class="form-group">
            <%= f.text_field :body, class: "form-control input-sm post-comment-reply-text-area", id:"post-comment-reply-text-area-#{post_comment.id}", "data-pcid" => post_comment.id, placeholder: "Reply.." %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>