<% provide(:title, 'Chat notifications') %>
<div class= "container-fluid notification-container">
  <div class="row title-row">
    <div class="col-md-12 title-col">
      <h3>Chat Notifications</h3>
    </div>
  </div>
  <div class="chat-notifications-index">
    <%= render @chat_notifications || "There are no chat notifications at the moment." %>
  </div>
  <div id="infinite-chatnotification-scrolling">
    <%= will_paginate @chat_notifications %>
  </div>
  <div class="no-more-notifications">
    <p>No more notifications.</p>
  </div>
</div>