<% provide(:title, 'Chat notifications') %>
<div class= "container-fluid notification-container">
  <h3>Chat notifications</h3>
  <div class="chat-notifications-index">
    <%= render @chat_notifications || "There are no chat notifications at the moment." %>
  </div>
  <div id="infinite-chatnotification-scrolling">
    <%= will_paginate @chat_notifications %>
  </div>
  <div class="no-more-notifications">
    <p>No more notifications.</p>
  </div>
</div>