<% provide(:title, 'Chat notifications') %>
<div class= "container-fluid notification-container">
  <div class="row title-row">
    <div class="col-md-12 title-col">
      <h3>Chat Notifications</h3>
    </div>
  </div>
  <div class="chat-notifications-index">
    <% cache ['chat-notifications-index', @chat_notifications.map(&:id), @chat_notifications.map(&:updated_at).max, @chat_notifications.map{|noti| noti.sender.profile.updated_at}.max] do %>
      
      <% @chat_notifications.each do |notification| %>
        <% if lookup_context.template_exists?(notification.action, "notifications/actions", true) %>
          <%= render partial: "notifications/actions/#{notification.action}", locals: { notification: notification } %>
        <% end %>
      <% end %>

    <% end %>
  </div>
  <div id="infinite-chatnotification-scrolling">
    <%= will_paginate @chat_notifications %>
  </div>
  <div class="no-more-notifications">
    <p>No more notifications.</p>
  </div>
</div>