<div class= "container-fluid task-container">
  <div class="row task-header">
    <h3>Chat notifications</h3>
  </div>
  <div class="chat-notifications-index">
    <%= render @chat_notifications %>
  </div>
</div>