<div class= "container-fluid task-container">
  <div class="row task-header">
    <h3>Notifications</h3>
  </div>
  <div class="other-notifications-index">
    <%= render @notifications %>
  </div>
</div>
