<% provide(:title, 'Notifications') %>
<div class= "container-fluid notification-container">
  <h3>Other notifications</h3>
  <div class = "other-notifications-index">
    <%= render @other_notifications || "There are no chat notifications at the moment." %>
  </div>
  <div id="infinite-othernotification-scrolling">
    <%= will_paginate @other_notifications %>
  </div>
  <div class="no-more-notifications">
    <p>No more notifications.</p>
  </div>
</div>