<% provide(:title, 'Notifications') %>
<div class= "container-fluid notification-container">
  <div class="row title-row">
    <div class="col-md-12 title-col">
      <h3>Other Notifications</h3>
    </div>
  </div>
  <div class = "other-notifications-index">
    <% cache ['other-notifications-index', @other_notifications.map(&:id), @other_notifications.map(&:updated_at).max, @other_notifications.map{|noti| noti.sender.profile.updated_at}.max] do %>

      <% @other_notifications.each do |notification| %>
        <% if lookup_context.template_exists?(notification.action, "notifications/actions", true) %>
          <%= render partial: "notifications/actions/#{notification.action}", locals: { notification: notification } %>
        <% end %>
      <% end %>

    <% end %>
  </div>
  <div id="infinite-othernotification-scrolling">
    <%= will_paginate @other_notifications %>
  </div>
  <div class="no-more-notifications">
    <p>No more notifications.</p>
  </div>
</div>