<% provide(:title, 'Users') %>
<div class="container-fluid container-form">
  <% unless has_profile? %>
    <div class="row">
      <div class="well onboard-well" style="margin-right:30px;margin-left:30px;text-align:center;">
        <h4>HEY THERE! You can start with discovering the users and in the meantime you can create your profile:</h4>   <%= link_to "CREATE PROFILE", new_user_profile_path(current_user), class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="user-desc" style="text-align:center">
        <h2>USERS</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class = "user-search" style="text-align:right">
        <%= search_form_for @q_users, html: { class: "form-inline"} do |f| %>
          <% f.search_field :profile_full_name_or_profile_company_cont, placeholder: "Search user..", class: 'form-control' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="user-profile-index" style="padding-right:20px;padding-left:20px;">
    <%= render :partial => "user" %>
  </div>
  <div id="infinite-user-scrolling" style="text-align:center;display:none;">
    <%= will_paginate :partial => "user" %>
  </div>
  <div class="no-more" style="display:none;padding-left:20px;">
    <p>No more users.</p>
  </div>
</div>


