<% provide(:title, 'Users') %>
<div class="container-fluid user-container">
  <% unless has_profile? %>
    <div class="row">
      <div class="well onboard-well">
        <h4>HEY THERE! You can start with discovering the posts, products as well as users and in the meantime don't forget to create your profile:</h4>   <%= link_to "CREATE PROFILE", new_user_profile_path(current_user), class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
  <div class="row title-row">
    <div class="col-md-6 title-col">
      <h3><i class="fa fa-users" style="padding-right:10px;"></i>Users</h3>
    </div><!-- SPACE WOULD BREAK INLINE BLOCK
    --><div class="col-md-6 title-col">
      <div class = "user-search">
        <%= search_form_for @q_users, html: { class: "form-inline"} do |f| %>
          <% f.search_field :profile_full_name_or_profile_company_cont, placeholder: "Search user..", class: 'form-control' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <table class="table">
      <thead>
        <tr>
          <th class="col-md-6">Name</th>
          <th class="col-md-4">Description</th>
          <th class="col-md-2">City</th>
        </tr>
      </thead>
      <tbody class="user-profile-index">
        <%= render @users %>
      </tbody>
    </table>
  </div>
  <div id="infinite-user-scrolling">
    <%= will_paginate @users %>
  </div>
  <div class="no-more">
    <p>No more users.</p>
  </div>
</div>


