<div class="container">
<h1>All users</h1>

<!--<ul class="users">
<% @users.each do |user| %>
  <li>
    <div class="well">
      <div class="col-sm-4 text-center"


  <%= user.id %></li>
<% end %>

</ul>-->
</div>