<% provide(:title, @user.full_name) %>
<div class="container-fluid" style="padding-right:0px;padding-left:0px">
  <div class = "col-md-9">
    <%= render 'tasks/between' %>
  </div>
  <div class = "col-md-3 rightsidebar">
    <%= render 'layouts/rightsidebar' %>
  </div>
</div>

<%= render partial: 'tasks/new_between_task_modal', locals: { task: @task_between, user: @user } %>




