
<div id="fullcallmodal-new" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
            <h4 id="new-modaltitle" class="modal-title">New Event</h4>
        </div>
        <div id="modalBody" class="modal-body">
          <form id="new-event-form">
            <div class="field form-group">
              <p id="new-startvalue"></p>
            </div>
            <div class="field form-group">
              <p id="new-endvalue"></p>
            </div>
            <div class="field form-group">
              <label for="new-alldayvalue">All day:</label>
              <input type="checkbox" id="new-alldayvalue"></checkbox>
            </div>
            <div class="field form-group">
              <label for="new-recipientvalue">Recipient:</label>
              <input type="text" id="new-recipientvalue" class="form-control"/>
            </div>
            <div class="field form-group">
              <label for="new-bodyvalue">Description:</label>
              <input type="text" id="new-bodyvalue" class="form-control"/>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" id="event-form-create">Create Event</button>
        </div>
      </div>
    </div>
  </div>
  <div id="fullcallmodal-edit" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
            <h4 id="edit-modaltitle" class="modal-title"></h4>
        </div>
        <div id="modalBody" class="modal-body">
          <form id="event-form">
            <div class="alert alert-danger" style="display:none">
              <ul class="errors" style="display:none"></ul>
            </div>
            <div class="field form-group">
              <span id="edit-uservalue">
                <p><strong></strong></p>
              </span>
            </div>
            <div class="field form-group">
              <label for="edit-startvalue">Start at:</label>
              <input type="text" id="edit-startvalue" class="form-control"/>
            </div>
            <div class="field form-group">
              <label for="edit-endvalue">End at:</label>
              <input type="text" id="edit-endvalue" class="form-control"/>
            </div>
            <div class="field form-group">
              <label for="edit-alldayvalue">All day:</label>
              <input type="checkbox" id="edit-alldayvalue" value="0"/>
            </div>
            <div class="field form-group">
              <label for="edit-bodyvalue">Description:</label>
              <input type="text" id="edit-bodyvalue" class="form-control"/>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-danger" id="event-form-delete">Delete Event</button>
            <button class="btn btn-primary" id="event-form-update">Update Event</button>
        </div>
      </div>
    </div>
  </div>

 
 <div id="fullcalmodal-edit" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
            <h4 id="edit-modaltitle" class="modal-title"></h4>
        </div>
        <div id="modalBody" class="modal-body">
          <form id="event-form">
            <div class="alert alert-danger" style="display:none">
              <ul class="errors" style="display:none"></ul>
            </div>
            <div class="field form-group">
              <span id="edit-uservalue">
                <p><strong></strong></p>
              </span>
            </div>
            <div class="field form-group">
              <label for="edit-startvalue">Start at:</label>
              <input type="text" id="edit-startvalue" class="form-control"/>
            </div>
            <div class="field form-group">
              <label for="edit-endvalue">End at:</label>
              <input type="text" id="edit-endvalue" class="form-control"/>
            </div>
            <div class="field form-group">
              <label for="edit-alldayvalue">All day:</label>
              <input type="checkbox" id="edit-alldayvalue" value="0"/>
            </div>
            <div class="field form-group">
              <label for="edit-bodyvalue">Description:</label>
              <input type="text" id="edit-bodyvalue" class="form-control"/>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-danger" id="event-form-delete">Delete Event</button>
            <button class="btn btn-primary" id="event-form-update">Update Event</button>
        </div>
      </div>
    </div>
  </div>
