<p>Hi <%= @product_customer.owner.first_name %>,</p>

<p><%= @review.user.full_name %> has written a review on the <%= @product_customer.customer %> customer case.</p>

<p>You can check out the review on the <%= link_to "customer case page", product_product_customer_url(@product_customer.product, @product_customer) %>.</p>

<p>Cheers,<br />Faskyn Team</p>