<% provide(:title, 'faskyn') %>
<div class="container-fluid post-container">
  <% unless has_profile? %>
    <div class="row">
      <div class="well onboard-well">
        <h4>HEY THERE! You can start with discovering the posts, products as well as users and in the meantime don't forget to create your profile:</h4>   <%= link_to "CREATE PROFILE", new_user_profile_path(current_user), class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
  <% if policy(@post).create? %>
    <div class="post-create">
      <%= render 'form' %>
    </div>
  <% end %>
  <div class="post-index new-post-insert">
    <% cache ["posts-index", @posts.map(&:id), @posts.map(&:updated_at).max, @posts.map {|post| post.user.profile.updated_at}.max] do %>
      <%= render @posts %>
    <% end %>
  </div>
  <div id="infinite-post-scrolling">
    <%= will_paginate @posts %>
  </div>
  <div class="no-more">
    <p>No more posts.</p>
  </div>
</div>

<div class="modal fade" id="post-image-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Image</h4>
      </div>
      <div class="modal-body">
        <div id ="post-image-insert" style="text-align:center;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

