$garmin-blue: #007cc3;
$garmin-light-blue: #d9edf7;
$dark-grey: #5E5E5E;

.chatbox {
    position: fixed;
    position: expression("absolute");
    /*width: 280px;*/
    display: none;
}

.chatboxhead {
    background: $garmin-blue; //#666;
    color: white;
    padding: 0.5rem;
    overflow: hidden;

    border-right: 1px solid rgba(85, 85, 85, 0.87);
    border-left: 1px solid rgba(85, 85, 85, 0.87);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chatboxhead h1 {
    display: inline;
    font-size: 16px;
    font-weight: 300;
}

.chatboxblink {
    background-color: #176689;
    border-right: 1px solid #176689;
    border-left: 1px solid #176689;
}

.chatboxcontent {
    font-family: arial, sans-serif;
    height: 230px;
    /*width: 280px;*/
    overflow-y: auto;
    padding: 7px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;//#eeeeee;
    background: white;//#F2F2F2;//#f5f5f5; //e5e5e5
    line-height: 1.3em;
    list-style: none;
}

.chatboxcontent li {
    padding: 0.4rem;
    overflow: hidden;
    display: flex;
}

.chatboxcontent .avatar {
    width: 40px;
    position: relative;
}

.chatboxcontent .avatar img {
    display: block;
    width: 100%;
}

.other .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}

.self .chatboxmessagecontent {
    order: 1;
    border-bottom-right-radius: 0;
    background: #F2F2F2;//white;//#d9edf7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.self .avatar {
    order: 2;
}

.self .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.chatboxmessagecontent {
    background: $garmin-light-blue;//#F2F2F2;//white;
    padding: 5px;
    border-radius: 15%;
    box-shadow: 0 1px 2px rgba(0, 124, 195, 0.2);
}

.chatboxmessagecontent p {
    font-size: 12px;
    margin: 0 0 0.1rem 0;
    -ms-word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.chatboxmessagecontent time {
    font-size: 9px;
    color: #AAAAAA;//#ccc;
}

.chatboxmessagecontent .newtime {
    font-size: 9px;
    color: #AAAAAA;
}

.chatboxmessagecontent #chatname {
    font-size: 9px;
    color: #AAAAAA;
}

.chatboxinput {
    padding: 5px;
    background-color: #ffffff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.chatboxtextarea {
    width: 100%;
    height: 44px;
    padding: 3px 0pt 3px 3px;
    border: 1px solid #eeeeee;
    border-radius: 10%;
    margin: 1px;
    overflow: hidden;
    resize: none !important;
}

.chatboxtextareaselected {
    border: 2px solid #878787;
    margin: 0;
}

.chatboxmessage {
    margin-left: 1em;
}

.chatboxinfo {
    margin-left: -1em;
    color: #666666;

}

.chatboxoptions {
    float: right;
}

.chatboxoptions a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.chatboxtitle {
    float: left;
    border-radius: 15px;
}

.start-conversation {
    border-radius: 15px;
}