
/* static pages footer */
/*
.footer-logo {
  display: inline;
  float: left;
  decoration: none;
}

.navbar-brand {
  display: inline;
  vertical-align: middle;
  float: left;
}
*/
@import 'bootstrap-sprockets';
@import 'bootstrap';

/*app layout*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg:                                                   #ecf0f1;
$font-family-sans-serif:                'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
/*$navbar-height:                                        55px;
$navbar-default-bg:                          white;
$navbar-default-brand-color:      #c0392b;
$brand-primary:                                    #c0392b;
$jumbotron-bg:   */ 


$gray-medium-light: #eaeaea;
$garmin-blue: #007cc3;
$dropbox-dark-grey: #47525d;
$dropbox-light-grey: #7b8994;
$orange: #ff6600;



@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }

footer {
  vertical-align: middle;
  text-align: center;
  padding-top: 5px;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }

  .footer-left {
    float: left;
    min-width: 400px;
    vertical-align: middle;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.footer-nav {
  vertical-align: middle;
}

/* navbar */
.navbar-brand > img {
  object-fit: contain;
  max-height: 100%;
  height: 100%;
}

/*.navbar-static-top {
  margin-bottom: 15px;
  /*min-height: 80px;
}*/

.navbar-static-top {
  margin-bottom: 0px;
}

.navbar-static-bottom {
  margin-bottom: 0px;
}
/*
p.notice {
  display: none;
}

p.alert {
  display: none;
}
*/
