@import 'bootstrap-sprockets';
@import 'bootstrap';

$gray-medium-light: #eaeaea;
$garmin-blue: #007cc3;
$dark-grey: #5E5E5E; //dark text grey
$light-grey: #f7f7f7; //super light grey background
$orange: #ff6600;


/*app layout*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$body-bg:                 #ecf0f1;
$font-family-sans-serif:  'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif:       'Georgia', serif;

.fixedheight {
  padding-top:50px;
}

.confirmations-controller, .invitations-controller, .passwords-controller, .registrations-controller, .sessions-controller {
  padding-top:0px;
}

.registrations-controller.edit-action {
  padding-top: 50px;
}

.loggedouthtml {
  height: auto;
  overflow: visible;
}

.loggedoutbody {
  height: auto;
  overflow: visible;
}


#home_loggedout {
  overflow: visible;
  height: auto;
}

.panel-primary .panel-heading {
  background: $garmin-blue;
}

.pagination {
  margin-top: 7px;
  ul {
    .active a {
      background: $garmin-blue;
      border-color: $garmin-blue;
    }
    a {
      color: $garmin-blue;
    }
  }
}

.btn-primary {
  background: $garmin-blue;
  border-color: $garmin-blue;
}

#btn-outline-primary {
    color: $garmin-blue;
    background-color: transparent;
    box-shadow:none;
    border: 2px solid $garmin-blue;
  &:hover, &:focus, &:active {
    color: white;
    background-color: $garmin-blue;
    transition: 0.25s;
  }
}

#btn-outline-success {
  color: #5cb85c;
  background-color: transparent;
  box-shadow: none;
  border: 2px solid #5cb85c;
  &:hover, &:focus, &:active {
    color: white;
    background-color: #5cb85c;
    transition: 0.25s;
  }
}



body, p {
  font-family: $font-family-sans-serif;
}

h1, h2, h3, h4 {
  font-family: $font-family-sans-serif;
}

a {
  font-family: $font-family-sans-serif;
}

/*@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }*/

//NAVBAR

.navbar-default {
  background: white;
  .navbar-right {
    margin-right:5px;
  }
  .navbar-header, .navbar-right li {
    a {
      color: $garmin-blue;
      &:hover {
        color: black;
      }
    }
  }
}

.signedinbar .navbar-default {
  .navbar-btn .btn-danger {
    border-color: $garmin-blue;
    color: white;
  }
  .navbar-right {
    margin-right:5px;
  }
  background: $garmin-blue;
  .navbar-right li:last-child a { //if profile pic in navbar
    padding-top:10px;
    padding-bottom:10px;
  }
    .navbar-right li:last-child #without-avatar { //if profile pic in navbar
    padding-top:15px;
    padding-bottom:15px;
  }
  .navbar-right > li > a {
    color: white;
    &:hover {
      color: $garmin-blue;
      background: white;
    }
  }

  .navbar-right li {
    .avatar {
      width:30px;
      height:30px;
      border-radius: 10%;
    }
    .dropdown-menu a {
      color: black;
    }
  }
  .navbar-brand {
    color:white;
  }
  .dropdown-toggle:active, .open .dropdown-toggle {
    background:white !important;
    color:$garmin-blue !important;
  }
  @media (min-width: 979px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
      display: block;
    }
  }
}

//FOOTER

#footer {
  vertical-align: middle;
  text-align: center;
  padding-top: 5px;
  background-color: $light-grey;

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* navbar */
.navbar-brand > img {
  object-fit: contain;
  max-height: 100%;
  height: 100%;
}

.navbar-static-top {
  margin-bottom: 0px;
}

.navbar-static-bottom {
  margin-bottom: 0px;
}

.container-form {
  padding-top:30px;  
}

#wrapper {
    padding-left: 0;
    padding-top: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: hidden;
  background: $light-grey;
  border-right: 1px $gray-medium-light solid;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #5E5E5E; //color:white;
  a {
    color: #5E5E5E; //color:white;
  }
  .invite {
    padding-left: 10px;
    padding-right: 20px;
  }
  //user-search-bar in user.css.scss
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

@media(min-width:768px) {
  #wrapper {
      padding-left: 250px;
      width: 100%;
  }

  #wrapper.toggled {
      padding-left: 0;
  }

  #sidebar-wrapper {
      width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 0;
  }

  #page-content-wrapper {
      //padding: 20px;
      position: relative;
      width: 100%;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }
}

//ONBOARD (USER CREATION)

.onboard-well {
  margin-right: 30px;
  margin-left: 30px;
  text-align: center;
}

//PAGINATION

.no-more {
  display:none;
  padding-left:20px;
}

.no-more-notifications {
  padding-top:15px;
  display:none;
  padding-left:20px;
}

.infinite-product-scrolling, .infinite-task-scrolling, .infinite-user-scrolling, #infinite-chatnotification-scrolling, #infinite-othernotification-scrolling {
   text-align: center;
   display: none;
}


