
/* static pages footer */
/*
.footer-logo {
  display: inline;
  float: left;
  decoration: none;
}

.navbar-brand {
  display: inline;
  vertical-align: middle;
  float: left;
}
*/
@import 'bootstrap-sprockets';
@import 'bootstrap';


/*app layout*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg:                                                   #ecf0f1;
$font-family-sans-serif:                'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif:                     'Georgia', serif;
/*$navbar-height:                                        55px;
$navbar-default-bg:                          white;
$navbar-default-brand-color:      #c0392b;
$brand-primary:                                    #c0392b;
$jumbotron-bg:   */ 


$gray-medium-light: #eaeaea;
$garmin-blue: #337ab7; /*#007cc3;*/
$dropbox-dark-grey: #47525d;
$dropbox-light-grey: #7b8994;
$orange: #ff6600;

body, p {
  font-family: $font-family-sans-serif;
}

h1, h2, h3, h4 {
  font-family: $font-family-sans-serif;
}

a {
  font-family: $font-family-sans-serif;
}

/*@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }*/

/* footer */
footer {
  vertical-align: middle;
  text-align: center;
  padding-top: 5px;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }

  .footer-left {
    float: left;
    min-width: 400px;
    vertical-align: middle;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.footer-nav {
  vertical-align: middle;
}

/* navbar */
.navbar-brand > img {
  object-fit: contain;
  max-height: 100%;
  height: 100%;
}

.navbar-static-top {
  margin-bottom: 0px;
}

.navbar-static-bottom {
  margin-bottom: 0px;
}

.fixedheight {
  height: 100%;
  overflow: hidden;
}

.loggedouthtml {
  height: auto;
  overflow: visible;
}

.loggedoutbody {
  height: auto;
  overflow: visible;
}


#home_loggedout {
  overflow: visible;
  height: auto;
}

/*
@media (min-width: 1200px) {
  #main {
    overflow: hidden;
    height: 100%;
    .container {
      width: 970px;
    }
  }
}
*/

.container-form {
  padding-top:15px;  
}

/*sidebar+mainarea before bootstrap
#sidebar {
  background: $garmin-blue;
  text-decoration: none;
  min-height: 100%;
  height: 100%;
  width: 250px;
  max-width: 250px;
  margin-right: 0px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  color:white;
  a {
    color:white;
  }
  .invite {
    padding-left: 10px;
  }
}

#main {
  margin-left: 250px;
  background: #fff;
  height: 100%;
  overflow: hidden;
}

#rightside {
  background: $garmin-blue;
  text-decoration: none;
  min-height: 100%;
  height: 100%;
  width: 250px;
  max-width: 250px;
  margin-right: 0px;
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

first version of sidebar
#home_loggedin {
  .container {
    height:100%;
    display: table;
    .row {
      height: 100%;
      display: table-row;
      .col-aside, {
        display: table-cell;
        float: none;
        vertical-align: top;
        background: $garmin-blue;
        height: 100%;
      }
      .col-middle {
        display: table-cell;
        float: none;
        vertical-align: top;
        background: $orange;
      }
    }
  }
}*/

#wrapper {
    padding-left: 0;
    padding-top: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: $garmin-blue;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color:white;
  a {
    color:white;
  }
  .invite {
    padding-left: 10px;
    padding-right: 20px;
  }
  //user-search-bar in user.css.scss
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles 

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
*/


@media(min-width:768px) {
  #wrapper {
      padding-left: 250px;
      width: 100%;
  }

  #wrapper.toggled {
      padding-left: 0;
  }

  #sidebar-wrapper {
      width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 0;
  }

  #page-content-wrapper {
      //padding: 20px;
      position: relative;
      width: 100%;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }
}
