$gray-medium-light: #eaeaea;
$garmin-blue: #007cc3;//#168eea;//#337ab7;
$dark-grey: #5E5E5E;
$dropbox-light-grey: #7b8994;
$orange: #ff6600;

.container-fluid.notification-container {
	margin: 0px 190px 40px 40px;
	padding-top: 30px;
}

#other-notifications {
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .7);
  background-color: #ff0000;
}

#chat-notifications {
	border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .7);
  background-color: #ff0000;
}

.other-notifications-index, .chat-notifications-index {
	a {
		text-decoration: none;
		color: $dark-grey;
		&:hover {
 			color: $garmin-blue;
  	}
	}
	a:first-child {
		border-top: 1px $gray-medium-light solid;
	}			
}

.notification-line:first-child, .notification-line-checked:first-child {
	border-top: 1px $gray-medium-light solid;
}

.notification-line, .notification-line-checked {
	border-bottom: 1px $gray-medium-light solid;			
	.subject {
		padding-top:4px;
		padding-bottom:3px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.time {
		padding-top:0px;
		padding-bottom:4px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.avatar {
    float: left;
    margin-right: 15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.notification-line {
	background-color: $gray-medium-light;
	font-weight: bold;
}
