$grey-medium-light: #eaeaea;
$garmin-blue: #007cc3;
$dark-grey: #5E5E5E;
$light-grey: #f7f7f7;
$comment-grey: #f9f9f9;

.post-container {
  background: $light-grey;
  padding-left:160px;
  padding-right:160px;
  padding-top:20px;
  padding-bottom:40px;
  .title-row {
    padding-bottom:20px;
  }
}

.post-create-well {
	background: white;
  .img-thumbnail {
    margin-bottom:10px;
  }
  .remove-post-preview{
    margin-bottom:10px;
  }
}

.post-panel {
  list-style: none;
  .panel-heading {
	  background: white;
    a {
      color: $dark-grey;
    }
    .post-info {
      a {
        color: $dark-grey;
      }
      .post-user-name {
        font-weight: bold;
      }
      .post-updated {
        color: $dark-grey;
        padding-left: 10px;
      }
    }
    .dropdown-column {
      text-align:right;
    }
  }
  .post-panel-body {
    padding-top:0px;
    background:#f9f9f9;
  }
}

.post-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.btn-post-file {
  position: relative;
  overflow: hidden;
}

.btn-post-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#post-image-modal {
  .modal-body {
    .post-image-insert {
      text-align: center;
    }
  }
}

#update-post-modal {
  .old-post-image {
    text-align:center; 
    margin-bottom:15px;
  }
  .img-thumbnail {
    margin-bottom:10px;
  }
  .remove-post-preview-update {
    margin-bottom:10px;
  }
}