$gray-medium-light: #eaeaea;
$garmin-blue: #007cc3;
$garmin-light-blue: #d9edf7;
$dark-grey: #5E5E5E; //text color
$light-grey: #f7f7f7; //super light background color
$orange: #ff6600;

.post-container {
  background: $light-grey;
  padding-left:140px;
  padding-right:140px;
  padding-top:20px;
  padding-bottom:40px;
  .title-row {
    padding-bottom:20px;
  }
}

.post-create-well {
	background: white;
}

.post-well {
	background: white;
	list-style: none;
}