$grey-medium-light: #eaeaea;
$garmin-blue: #007cc3;
$dark-grey: #5E5E5E;
$light-grey: #f7f7f7;
$comment-grey: #f9f9f9;

.post-container {
  background: $light-grey;
  padding-left:160px;
  padding-right:160px;
  padding-top:20px;
  padding-bottom:40px;
  .title-row {
    padding-bottom:20px;
  }
}

.post-create-well {
	background: white;
}

.post-panel {
  .panel-heading {
	  background: white;
    a {
      color: $dark-grey;
    }
  }
	list-style: none;
  .post-info {
    a {
      color: $dark-grey;
    }
    .post-user-name {
      font-weight: bold;
    }
    .post-updated {
      color: $dark-grey;
      padding-left: 10px;
    }
  }
  .post-comment-box {
    padding-top:5px;
    margin-bottom:5px;
    .post-comment-info {
      font-size:12px;
      .post-comment-fullname{
        font-weight: bold;
      }
      .post-comment-updated {
        color: $dark-grey;
        padding-left: 8px;
      }
    }
    .post-comment-body {
      font-size: 12px;
      .post-comment-editing-deleting {
        //display: none;
        .post-comment-edit-fa, .post-comment-delete-fa {
          padding-left: 5px;
          cursor: pointer;
          color: $dark-grey;
        }
      }
      // &:hover .post-comment-editing-deleting  {
      //   display: inline;
      //   color: $dark-grey;
      // }
    }
    a {
      decoration: none;
      color: $dark-grey;
    }
  }
  .open-all-post-comments {
    font-size: 12px;
    cursor: pointer;
  }
  .open-post-comment-reply {
    font-size: 12px;
    cursor: pointer;
  }
  .post-comment-replies {
    display:none;
    .post-comment-reply-box {
      padding-top:5px;
      margin-bottom:5px;
      .post-comment-reply-info {
        font-size: 12px;
        .post-comment-reply-fullname{
          font-weight: bold;
        }
        .post-comment-reply-updated {
          color: $dark-grey;
          padding-left: 8px;
        }
      }
      .post-comment-reply-body {
        font-size: 12px;
        .post-comment-reply-editing-deleting {
          .post-comment-reply-edit-fa, .post-comment-reply-delete-fa {
            padding-left: 5px;
            cursor: pointer;
            color: $dark-grey;
          }
        }
        // &:hover .post-comment-reply-editing-deleting  {
        //   color: $dark-grey;
        // }
      }
      a {
        decoration: none;
        color: $dark-grey;
      }
    }
  }
}

.post-avatar {
  width: 70px;
  height: 70px;
  border-radius: 10%;
}

.post-comment-avatar {
  //width: 40px;
  //height: 40px;
  border-radius: 10%;
}

.post-comment-reply-avatar {
  width: 35px;
  height: 35px;
  border-radius: 10%;
}

.btn-post-file {
  position: relative;
  overflow: hidden;
}

.btn-post-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}