$grey-medium-light: #eaeaea;
$garmin-blue: #007cc3;
$dark-grey: #5E5E5E; //text color
$light-grey: #f7f7f7; //super light background color

.product-container {
  background: $light-grey;
  padding: 30px 100px 40px 100px;
  .title-row {
    padding-bottom: 15px;
    .title-col {
      display: inline-block;
      vertical-align: middle;
      float:none;
      color: $dark-grey;
      h3 {
        display:inline;
        .space {
          padding-left:10px;
        }
      }
      .product-search {
        text-align:right;
      }
    }
  }
}

.product-new-container {
  background: $light-grey;
  padding: 30px 50px 40px 50px;
}

.product-show-container {
  padding: 0px 50px 0px 50px;
  .product-show-name {
    margin-bottom:15px;
    h3 {
      display: inline;
      vertical-align: middle;
      padding-left:5px;
    }
  }
  .delete-button {
    margin-left:10px;
  }
}

.product-form {
  .old-product-image {
    border-radius:10%;
    margin-bottom: 10px;
    margin-left:10px;
  }
  .website-company-row {
    margin-top:15px;
  }
  .back-button {
    margin-left:10px;
  }
}

.product-profile-container {
  background: $light-grey;
  padding: 20px 70px 30px 70px;
  .title-row {
    padding-bottom:15px;
    width:100%;
  }
  .product-panel {
    .panel-heading {
      background: white;
      padding:0;
      a {
        text-decoration: none;
      }
      .product-list {
        padding:10px;
      }
      &:hover {
        background-color: $grey-medium-light;
      }
    }
  }
}

.product-panel {
  h4 {
    display: inline;
    vertical-align: middle;
    padding-left:5px;
  }
}

.product-desc {
  margin-top: 0px;
  h2 {
    margin-top: 0px;
  }
}

.product-index {
  .product-index-row {
    &:hover {
      background-color: $grey-medium-light;
    }
  }
	.image, .oneliner, .company, .updated {
		text-align: center;
    vertical-align: middle;
	}
  .image {
    .image-tag {
      border-radius:10%;
    }
  }
  .link-name, .link-oneliner, .link-updated {
    padding: 10px 5px 10px 5px;
  }
  .name {
    text-align: left;
    vertical-align: middle;
  }
  a {
    text-decoration: none;
  }
}

.product-well, .product-panel {
  h3 {
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
  }
  background-color: white;//$light-grey;
  .product-list {
  	.description {
  		padding-top:2px;
  		padding-bottom: 12px;
  		padding-left: 10px;
  	}
  	.big-description {
  		padding-left: 17px;
  		padding-top: 7px;
  	}
  	.list-name {
  		font-weight: bold;
  		padding-top: 10px;
  		&:first-child {
  			padding-top: 0px;
  		}
  	}
  	#oneliner {
  		.description {
  			padding-bottom: 0px;
  		}
  	}
  }
  .explanation {
    font-size: 12px;
    color: $dark-grey;
    padding-left: 3px;
  }
  .adding-extra {
    padding-top:10px;
  }
}

.btn-product-image {
    position: relative;
    overflow: hidden;
}

.btn-product-image input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}