$gray-medium-light: #eaeaea;
$garmin-blue: #007cc3;
$dark-grey: #5E5E5E;
$dropbox-light-grey: #7b8994;
$orange: #ff6600;

#home_loggedout {
	overflow: visible !important;
	height: auto !important;
	.jumbotron {
		height: 600px;
		background-image: image_url('jumbotron2.jpg');
		background-size: cover;
		background-color: rgba(255,255,255,0.5);
		background-repeat: no-repeat;
		margin-top: 0px;
		margin-bottom: 0px;
		.container {
		  color: white; /*#2c2c2c;*/
		  text-align: center;
		  vertical-align: middle;
		  position: relative;
		  margin-top: 0px;
		  h1 {
		  	font-size:42px;
		  }
		}
		img {
			opacity:0.5;
		}
	}
}

.hero-title {
  color: white;
  margin-top: 120px;
}

.hero-description {
  color: white;
  padding-bottom: 40px;
}

.hero-button {
  display: inline;
  margin-top: 50px;
  padding: 20px 20px 20px 20px;
}

.details {
	text-align: center;
	margin-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid $gray-medium-light;
	background: #fff;
}

.glyphicon-stack {
	position: relative;
	display: inline-block;
	width: 4em;
	height: 4em;
	line-height: 4em;
	vertical-align: middle;
}

.glyphicon-circle{
	position: relative;
	border-radius: 50%;
	width: 100%;
	height: auto;
	padding-top: 100%;
	background: $garmin-blue;
}

.glyphicon-stack-1x {
	line-height: inherit;
}

.glyphicon-stack-1x, .glyphicon-stack-2x {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
}

.glyphicon-phone-alt, .glyphicon-user, .glyphicon-usd {
	color: white;
	font-size: 2em;
}

.examples {
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid $gray-medium-light;
	text-align: center;
	background: $garmin-blue;
	color: white;
}

.col-padding {
  padding: 25px 25px 25px 25px;
}

.get-started {
	text-align: center;
	margin-bottom: 40px;
	margin-top: 40px;
	.container {
		background: #ffffff;
	}
}

/* about */

#mission {
	.jumbotron {
		height: 600px;
		background-image: image_url('mission.png');
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: 0px;
		margin-bottom: 0px;
		.container {
		  color: white;
		  text-align: center;
		  vertical-align: middle;
		  position: relative;
		  top: 170px;
		  margin-top: 0px;
		}
	}
}

#about, #privacy-policy {
	padding: 40px 0 50px 0;
	.container {
		max-width: 700px
	}
	h1, h2, h3 {
		text-align: center;
		padding-bottom: 15px;
	}
	p {
		text-align: justify;
	}
}
