$grey-medium-light: #eaeaea;
$garmin-blue: #007cc3;
$dark-grey: #5E5E5E;
$light-grey: #f7f7f7;
$black: #333333;

.task-well {
	margin-top:10px;
}

.between-task-container {
	background: $light-grey;
	padding: 30px 60px 40px 60px;
	.title-row {
		padding-bottom:15px;
		color: $black;
		.title-col {
			h3 {
				display: inline;
				.space {
					padding-left:10px;
				}
			}
		}
		.rightfloat {
			float: right;
			display: inline;
			.btn-group {
				a:first-child {
					margin-right: 0px;
					border-right: 0px;
				}
				a:last-child {
					border-left: 0px;
				}
			}
			.btn {
				margin-left: 5px;
			}
			#rightone {
					margin-right: 0px;
			}
			.btn-group {
				margin-left:5px;
				.btn {
					margin-left: 0px;
					margin-right: 0px;
				}
			}
		}
	}
	table {
		color: $dark-grey;
		text-align: center;
		margin-bottom: 0px;
		border-radius: 10px;
		vertical-align: middle;
		a {
			color: $dark-grey;
			&:hover {
   			color: $garmin-blue;
    	}
		}
		thead th {
			border-bottom: 0px;
		}
		tbody tr td {
			vertical-align: middle;
			padding:3px;
			border-left: 0px;
			border-right: 0px;
			//margin-top: 0px;
		}
		thead tr th {
			text-align: center;
			vertical-align: middle;
			border-left: 0px;
			border-right: 0px;
		}
		tbody tr td a {
			text-decoration: none;
		}
		.name-cell {
			.name-row {
				display: table;
				width: 100%;
				.sign-column {
					vertical-align: middle;
					display: table-cell;
					float: none;
					.fa-color {
						color: $garmin-blue;
					}
					.fa-style {
						padding-left: 5px;
					}
				}
			}
		}
		.dropdown-cell {
			.fa-styling {
				padding: 8px 15px 8px 15px;
				color: $dark-grey;
			}
		}
	}
}

.task-container {
	background: $light-grey;
	padding: 40px 100px 40px 100px;
	.title-row {
		padding-bottom:15px;
		color: $black;
		.title-col {
			h3 {
				display:inline;
				.space {
	        padding-left:10px;
	      }
			}
		}
		.rightfloat {
			float: right;
			display: inline;
			.btn-group {
				a:first-child {
					margin-right: 0px;
					border-right: 0px;
				}
				a:last-child {
				border-left:0px;
				}
			}
			.btn {
				margin-left: 5px;
			}
			#rightone {
					margin-right: 0px;
			}
			.btn-group {
				margin-left:5px;
				.btn {
					margin-left: 0px;
					margin-right: 0px;
				}
			}
		}
	}
	table {
		color: $dark-grey;
		text-align: center;
		margin-bottom: 0px;
		border-radius: 10px;
		vertical-align: middle;
		a {
			color: $dark-grey;
			&:hover {
   			color: $garmin-blue;
    	}
		}
		thead th {
			border-bottom: 0px;
		}
		tbody tr td {
			vertical-align: middle;
			padding:3px;
			border-left: 0px;
			border-right: 0px;
		}
		thead tr th {
			text-align: center;
			vertical-align: middle;
			border-left: 0px;
			border-right: 0px;
		}
		tbody tr td a {
			text-decoration: none;
		}
		.name-cell {
			.name-row {
				display: table;
				width: 100%;
				.sign-column {
					vertical-align: middle;
					display: table-cell;
					float: none;
					.fa-style {
						padding-left: 5px;
					}
					.fa-color {
						color: $garmin-blue;
					}
				}
				.name-column {
					padding-left: 0px;
					width: 100%;
					float: left;
					text-align: left;
				}
			}
		}
		.dropdown-cell {
			.fa-styling {
				padding: 10px 20px 10px 20px;
			}
		}
	}
}