$grey-medium-light: #eaeaea;
$garmin-blue: #007cc3;
$dark-grey: #5E5E5E; //text color
$light-grey: #f7f7f7; //super light background color

.btn-social-reg {
  color: white;
  &.btn-linkedin {
    background-color:#007BB6;
    &.linked {
      opacity: 0.5;
    }
  }
  &.btn-twitter {
    background-color:#55ACEE;
    &.linked {
      opacity: 0.5;
    }
  }
  &.btn-google {
    background-color:#dd4b39;
    &.linked {
      opacity: 0.5;
    }
  }
}

.social-media {
  margin-bottom: 20px;
  text-align: center;
}

.cta-social-media {
  margin-bottom: 10px;
  p {
    text-align: left;
  }
}

.rightsidebar {
  border-left: solid 1px $grey-medium-light;
  background: white;//$light-grey;
  overflow: hidden;
}

.user-container {
  padding-left:70px;
  padding-right:70px;
  padding-top:30px;
  .title-row {
    padding-bottom: 15px;
    .title-col {
       display: inline-block;
       vertical-align: middle;
       float:none;
       color: $dark-grey;
       h3 {
         display:inline;
       }
       .user-search {
         text-align:right;
       }
    }
  }
  table {
    color: $dark-grey;
    margin-bottom: 0px;
    vertical-align: middle;
    a {
      color: $dark-grey;
      &:hover {
        color: $garmin-blue;
      }
    }
    thead th {
      border-bottom: 0px;
    }
    tbody tr .name {
      vertical-align: middle;
      padding-left:10px;
      padding-top:3px;
      padding-bottom:3px;
      .user-fullname {
        margin-top: 4px;
        font-weight: bold;
      }
    }
    tbody tr .location, tbody tr .description {
      text-align: center;
      vertical-align: middle;
    }
    thead tr th {
      text-align: center;
      vertical-align: middle;
    }
    tbody tr td a {
      text-decoration: none;
    }
  }
}

//index page
.user-profile-index {
  text-align: center;
  .user-index-well  {
    background:white;
    margin-bottom:10px;
    .avatar {
      border-radius: 50%;
      width: 65px;
      height: 65px;
      vertical-align: middle;
      margin-bottom: 5px;
      margin-top: 5px;
    }
    &:hover {
      background-color: $grey-medium-light;
      cursor: pointer;
    }
  }
  a {
    text-decoration: none;
    color: $dark-grey;
  }
}

//search bar
.user-search {
}

.ui-autocomplete {
  z-index: 5000;
}

.user-desc {
  margin-top: 0px;
  h2 {
    margin-top: 0px;
  }
}

.account-well h2 {
  margin-top:0px;
  margin-bottom:15px;
}

.profile-well, .account-well {
  h3 {
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
  }
  background-color: white;
}

.edit_user, .new_user {
  .form-group .form-control {
    height: 30px;
  }
}
//user invitation email field has the same name like edit account email field (devise)
.invite #user_email {
  height: 34px;
}

.edit_profile, .new_profile {
  .form-group .form-control {
    height: 32px;
  }
}

.profile-container {
  background: $light-grey;
  padding: 40px 70px 0px 70px;
  .profile-show-well {
    background-color: white;
    h3 {
      margin-top: 0px;
      margin-bottom: 15px;
    }
    .avatar{
      float: left;
      margin-right: 15px;
      width: 85px;
      height: 85px;
      border-radius: 50%;
      margin-bottom: 10px;
    }
    .product-list {
      .description {
        padding-top:2px;
        padding-bottom: 12px;
        padding-left: 10px;
      }
      .big-description {
        padding-left: 17px;
        padding-top: 7px;
      }
      .list-name {
        font-weight: bold;
        padding-top: 10px;
        &:first-child {
          padding-top: 0px;
        }
      }
      #oneliner {
        .description {
          padding-bottom: 0px;
        }
      }
    }
  }
}

.user-profile-show-sidebar {
  margin-bottom:35px;
  color: $dark-grey;
  a {
    text-decoration: none;
    color: $dark-grey;
    &:hover {
      color: $garmin-blue;
    }
  }

  .avatar{
    float: left;
    margin-right: 15px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }
  p {
    margin-bottom:3px;
  }
}

/*side bar current user profile */
#current-user-bar {
  padding-left:10px;
  font-size: 16px;
  font-weight: bold;
  .avatar {
    width:50px;
    height:50px;
    border-radius: 10%;
    margin-right:10px;
  }
}

//COMMON MEDIAS

.common-medias-container {
  padding-right:0px;
  padding-left:0px;
  .common-medias-col {
    padding-left:20px;
    padding-right:20px;
  }
}