$gray-medium-light: #eaeaea;
$garmin-blue: #007cc3;
$garmin-light-blue: #d9edf7;
$dark-grey: #5E5E5E; //text color
$light-grey: #f7f7f7; //super light background color
$orange: #ff6600;

.btn-social-reg {
  color: white;
  &.btn-linkedin {
    background-color:#007BB6;
    &.linked {
      opacity: 0.5;
    }
  }
  &.btn-twitter {
    background-color:#55ACEE;
    &.linked {
      opacity: 0.5;
    }
  }
  &.btn-google {
    background-color:#dd4b39;
    &.linked {
      opacity: 0.5;
    }
  }
}

.social-media {
  margin-bottom: 20px;
  text-align: center;
}

.cta-social-media {
  margin-bottom: 10px;
  p {
    text-align: left;
  }
}

.rightsidebar {
  border-left: solid 1px $gray-medium-light;
  background: $light-grey;
  overflow: hidden;
  // padding-left:0;
  // padding-right:0;
  //position: fixed;
}

.user-search {
  margin-right:15px;
  margin-top: 0.3em;
}

.ui-autocomplete {
  z-index: 5000;
}

.user-desc {
  margin-top: 0px;
  h2 {
    margin-top: 0px;
  }
}

.account-well h2 {
  margin-top:0px;
  margin-bottom:15px;
}

.profile-well, .account-well {
  h3 {
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
  }
  background-color: $light-grey;
}

.edit_user, .new_user {
  .form-group .form-control {
    height: 30px;
  }
}
//user invitation email field has the same name like edit account email field (devise)
.invite #user_email {
  height: 34px;
}

.edit_profile, .new_profile {
  .form-group .form-control {
    height: 32px;
  }
}

.user-profile-index {
  list-style: none;
  padding: 0;
  margin-top:10px;
  li {
    padding: 10px 0 10px 0;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .company {
    display: block;
    margin-left: 60px;
  }
  .job_title {
    color: $dark-grey;
    display: block;
    margin-left: 60px;
  }
  .avatar {
    float: left;
    margin-right: 15px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    margin-bottom: 15px;
    margin-top: 10px;
  }
}

.container-show {
  padding-top: 15px;
}

.user-profile-show {
  padding: 20px;
  .panel {
    margin-left: 50px;
    margin-right: 350px;
  }
  .avatar{
    float: left;
    margin-right: 15px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
  }
}

.user-profile-show-sidebar {
  margin-bottom:35px;
  color: $dark-grey;
  a {
    text-decoration: none;
    color: $dark-grey;
    &:hover {
      color: $garmin-blue;
    }
  }

  .avatar{
    float: left;
    margin-right: 15px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }
  p {
    margin-bottom:3px;
  }
}
/*side bar current user profile */
#current-user-bar {
  padding-left:10px;
  font-size: 16px;
  font-weight: bold;
  .avatar {
    width:50px;
    height:50px;
    border-radius: 10%;
    margin-right:10px;
  }
}

/*search-bar */
#users-bar {
  padding-left: 10px;
  .search {
    padding-right:60px;
    .form-control {
      width:100%;
    }
  }
  .users {
    list-style: none;
    padding-top: 10px;
    ol {
      padding-left: 0px;
    }
    li {
      margin: 5px 0 5px 0;
      clear: left;
      list-style: none;
      height: 40px;
      vertical-align: middle;
    }
    .avatar {
      float: left;
      margin-right: 8px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      vertical-align: middle;
    }
    .user-fullname {
      margin-top: 4px;
    }
    .company {
      margin-top: 2px;
      display: block;
    }
    a {
      text-decoration: none;
      color: $dark-grey;
      &:hover {
        color: $garmin-blue;
      }
    }
  }
}