$gray-medium-light: #eaeaea;
$garmin-blue: #007cc3;
$dropbox-dark-grey: #47525d;
$dropbox-light-grey: #7b8994;
$orange: #ff6600;


.user-profile-index {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 10px 0 10px 0;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .company {
    display: block;
    margin-left: 60px;
  }
  .job_title {
    color: $dropbox-light-grey;
    display: block;
    margin-left: 60px;
  }
  .avatar {
    float: left;
    margin-right: 15px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    margin-bottom: 15px;
    margin-top: 10px;
  }
}

.container-show {
  padding-top: 15px;
}

.user-profile-show {
  .avatar-name {
    .avatar{
      float: left;
      margin-right: 15px;
      width: 85px;
      height: 85px;
      border-radius: 50%;
    }
  }
}

#users-bar {
  padding-left: 10px;
  .users {
    list-style: none;
    padding-top: 10px;
    ol {
      padding-left: 0px;
    }
    li {
      margin: 5px 0 5px 0;
      clear: left;
      list-style: none;
      height: 40px;
      vertical-align: middle;
    }
    .avatar {
      float: left;
      margin-right: 8px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      vertical-align: middle;
    }
    .userrr {
      margin-top: 4px;
    }
    .company {
      margin-top: 2px;
      display: block;
    }
  }
}
