<div class="post-comment-input" style="margin-top:15px;">
  <%= form_for([post, @post_comment], remote: true, :html => {id: "post-comment-form-#{post.id}"}) do |f| %>
    <div class="form-group">
      <%= f.text_field :body, class: "form-control post-comment-text-area-#{post.id}", "data-pid" => post.id, placeholder: "Comment something.." %>
    </div>
  <% end %>
</div>