<%= form_for([post, PostComment.new], remote: true, html: { id: "post-comment-form-#{post.id}" }, data: { behavior: "post-comment-form" }) do |f| %>
  <div class="form-group post-comment-input">
    <%= f.text_field :body, class: "form-control", id: "post-comment-text-area-#{post.id}", placeholder: "Comment something..", data: { pid: post.id, behavior: "post-comment-text-area" } %>
  </div>
<% end %>