<div class="row">
  <div class="well well-sm">
    <div class="row">
      <div class="col-md-3">
        <%= post_comment.user.profile.full_name %>
      </div>
      <div class="cold-md9">
        <%= best_in_place post_comment, :body, :as => :input, url: post_post_comment_path(post_comment.post, post_comment), activator: "#activate-comment-edit-#{post_comment.id}" %>
        <i class="fa fa-pencil" id="activate-comment-edit-<%=post_comment.id %>"></i>
      </div>
    </div>
  </div>
</div>