<div class="nested-fields">
  <div class="field">
    <div class= "row">
      <div class="col-md-5">
        <div class = "form-group">
          <%= f.text_field :lead, placeholder: "add a target company name", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <%= f.text_field :website, placeholder: "company website", class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <div class = "form-group">
          <%= f.text_area :pitch, placeholder: "how the target customer would use the product ", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-2">
        <%= link_to_remove_association "Remove target customer", f %>
      </div>
    </div>
  </div>
</div>