<div class="nested-fields">
  <div class="field">
    <%= f.text_field :feature, placeholder: "add a feature", class: "form-control" %>
    <%= link_to_remove_association "remove feature", f %>
  </div>
</div>