<% provide(:title, 'Users') %>
<div class="container-fluid product-container">
  <% unless has_profile? %>
    <div class="row">
      <div class="well onboard-well" style="margin-right:30px;margin-left:30px;text-align:center;">
        <h4>HEY THERE! You can start with discovering the users and in the meantime you can create your profile:</h4>   <%= link_to "CREATE PROFILE", new_user_profile_path(current_user), class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
  <div class="row title-row">
    <div class="col-md-4 col-md-offset-4">
      <div class="user-desc" style="text-align:center">
        <h2>PRODUCTS</h2>
      </div>
    </div>
    <!-- search here -->
  </div>
  <div class="panel panel-default">
    <table class="table">
      <tbody class="product-profile-index">
        <%= render @products %>
      </tbody>
    </table>
  </div>
  <div id="infinite-product-scrolling" style="text-align:center;display:none;">
    <%= will_paginate @products, param_name: 'products' %>
  </div>
  <div class="no-more" style="display:none;padding-left:20px;">
    <p>No more products.</p>
  </div>
</div>