<% provide(:title, 'Products') %>
<div class="container-fluid product-container product-index-container">
  <% unless has_profile? %>
    <div class="row">
      <div class="well onboard-well">
        <h4>HEY THERE! You can start with discovering the posts, products as well as users and in the meantime don't forget to create your profile:</h4>   <%= link_to "CREATE PROFILE", new_user_profile_path(current_user), class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
  <div class="row title-row">
    <div class="col-md-6 title-col">
      <h3><i class="fa fa-cubes"></i><span class="space">Products</span></h3>
    </div><!-- SPACE WOULD BREAK INLINE BLOCK
    --><div class="col-md-6 title-col">
      <div class="product-search">

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <table class="table">
      <tbody class="product-index-list new-product-insert">
        <% cache(['products-index', @products.map(&:id), @products.map(&:updated_at).max]) do %>
          <%= render @products %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="infinite-product-scrolling">
    <%= will_paginate @products %>
  </div>
  <div class="no-more">
    <p>No more products.</p>
  </div>
</div>