<div class = "container-fluid product-new-edit-container">
  <div class= "col-md-10 col-md-offset-1">
    <h3>NEW PRODUCT</h3>
    <div class="product-form">
      <%= render "form" %>
      </div> <!-- THIS DIV COMES FROM FORM -->
    </div>
  </div>
</div>