<div class = "container-fluid product-container">
  <div class= "col-md-8 col-md-offset-2">
    <div class="well product-well"> 
      <div class="row">
        <h3>NEW PRODUCT</h3>
      </div>
      <div class= "row">
        <div class="col-md-12">
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>