<% provide(:title, 'My products') %>
<div class="container-fluid product-container">
  <div class="row title-row">
    <div class="col-md-6 title-col">
      <h3><i class="fa fa-cubes"></i><span class="space">My Products</span></h3>
    </div><!-- SPACE WOULD BREAK INLINE BLOCK
    --><div class="col-md-6 title-col">
      <div class = "product-search">
      
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <table class="table">
      <tbody class="product-index-list new-product-insert">
        <% cache(['own-products', @products.map(&:id), @products.map(&:updated_at).max]) do %>
          <%= render @products %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="infinite-product-scrolling">
    <%= will_paginate @products %>
  </div>
  <div class="no-more">
    <p>No more products.</p>
  </div>
</div>