<% provide(:title, 'My products') %>
<div class="container-fluid product-container">
  <div class="row title-row">
    <div class="col-md-4">
      <%= link_to new_product_path do %>
        <div style="vertical-align:middle;margin-top:2px;">
          <span class="fa-stack fa-lg" data-toggle="tooltip", data-placement="bottom", data-delay= '{"show":"250"}', title="Add new product">
            <i class="fa fa-circle fa-stack-2x" style="text-shadow: 1px 1px 1px;"></i>
            <i class="fa fa-plus fa-stack-1x" style="color:white;"></i>
          </span>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="product-desc" style="text-align:center">
        <h2>PRODUCTS</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class = "product-search" style="text-align:right">
        <%= search_form_for @q_products, html: { class: "form-inline"} do |f| %>
          <% f.search_field :name_cont, placeholder: "Search product..", class: 'form-control' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <table class="table">
      <tbody class="product-profile-index new-product-insert">
        <%= render @products %>
      </tbody>
    </table>
  </div>
  <div id="infinite-product-scrolling">
    <%= will_paginate @products, param_name: 'products' %>
  </div>
  <div class="no-more">
    <p>No more products.</p>
  </div>
</div>