<% if controller.controller_name == "static_pages" %>
  <div class="container-fluid static-flash-container">
<% else %>
  <div class="container-fluid flash-container">
<% end %>
  <% flash.each do |type, message| %>
    <div class= "alert flash-alert <%= bootstrap_alert_class_for(type) %>">
      <button type="button" class="close" data-dismiss="alert">&times;</button> 
      <%= message %>
    </div>
  <% end %>
</div>