<div id= "sidebar-wrapper">
  <div id= "sidebar-button">
    <%= link_to user_tasks_path(current_user), type:"button", class: "btn btn-primary btn-block" do %>
      <i class="fa fa-plus sidebar-fa"></i>NEW TASK
    <% end %>
    <%= link_to new_product_path, type:"button", class: "btn btn-primary btn-block" do %>
      <i class="fa fa-plus sidebar-fa"></i>ADD PRODUCT
    <% end %>
  </div>
  <%= render 'users/user_sidebar' %>
  <%= render 'products/product_sidebar' %>
</div>
