
<div id="home_loggedin">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-aside">
      </div>
      <div class= "col-md-10 col-middle">
        <%= yield %>
      </div>
    </div>
  </div>
</div>